<div class="container">

  <form class="row" #f="ngForm" (ngSubmit)="f.form.valid && onClickSubmit()" novalidate>
    <div class="form-group col-md-6">
      <label>ISBN number</label>
      <input type="text" class="form-control" [(ngModel)]="book.isbn" #isbn="ngModel" [ngClass]="{'is-invalid':f.submitted && isbn.invalid}"
        name="isbn" pattern="[A-Za-z0-9]{11}" required />
      <div *ngIf="f.submitted && isbn.invalid" class="invalid-feedback">
        <div *ngIf="isbn.errors.required">ISBN number is required</div>
        <div *ngIf="isbn.errors.pattern">ISBN number length must be 11 and No special characters !!</div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label>Book-Title</label>
      <input type="text" class="form-control" [(ngModel)]="book.title" #title="ngModel" [ngClass]="{'is-invalid':f.submitted && title.invalid}"
        name="title" required />
      <div class="invalid-feedback">
        <div>Title is required</div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label>Author</label>
      <input type="text" class="form-control" [(ngModel)]="book.author" #author="ngModel" [ngClass]="{'is-invalid':f.submitted && author.invalid}"
        name="author" required />
      <div class="invalid-feedback">
        <div>Author is required</div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label>Description</label>
      <input type="text" class="form-control" [(ngModel)]="book.description" #description="ngModel" [ngClass]="{'is-invalid':f.submitted && description.invalid}"
        name="description" required />
      <div class="invalid-feedback">
        <div>Description is required</div>
      </div>
    </div>

    <input class="btn btn-success" type="submit" value="submit">
  </form>

</div>