<div class="container">
    <div *ngIf="books.length ; else noData" class="all">

        <h2>List of books</h2>
        <hr>
        <div class="onerow">
            <div class="data" *ngFor="let book of books; index as i; let index=index" (mouseover)="hovered=index" (mouseout)="hovered=index">
                <span class="index">{{i+1}}</span>
                <div (click)="detail(book.id)" class="detail">{{book.title | titlecase}}</div>
                <span *ngIf="index==hovered" class="butt1"><i (click)="edit(book.id)" class="fa fa-pencil-square-o"
                        aria-hidden="true"></i> </span>
                <span *ngIf="index==hovered" class="butt2"><i (click)="delete(book.id, i)" class="fa fa-trash-o"
                        aria-hidden="true"></i> </span>
            </div>
            <hr>
        </div>

    </div>
    <ng-template #noData class="container hide">
        <h3> <span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </span> you have no books to show please add book to show here...!!</h3>
        <button class="btn btn-primary" routerLink="/add">Add</button>
    </ng-template>
</div>