<div class="container-fluid">
  <div class="title">
    <h1> Book App ! <span><i class="fa fa-book" aria-hidden="true"></i> </span>
    </h1>

    <div class="home">
      <div><button class="one btn btn-primary" routerLink="/add"><i class="fa fa-plus" aria-hidden="true"></i>
        </button></div>
      <div><button class="two btn btn-primary" routerLink="/list"><i class="fa fa-list" aria-hidden="true"></i>
        </button></div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
